.done-icon {
  float: left;
  width: 35px;
  height: 30px;
  color: #07c407;
}
.doneText {
  text-decoration: line-through;
}
.loading-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
