<form class="form" *ngIf="listForm" [formGroup]="listForm" (ngSubmit)="addItem()">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <mat-form-field class="w-100">
          <input matInput placeholder="add task" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-2">
        <button mat-raised-button color="primary" class="mt-3" type="submit" [disabled]="!listForm.value.name">Add</button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="toDoData">
  <div *ngFor="let item of toDoData; let i = index">
    <mat-card class="mb-3">
      <div class="done-icon">
        <i class="material-icons" *ngIf="item.done">
          done
        </i>
      </div>
      <span [ngClass]="{'doneText' : item.done}">{{item.text}}</span>
      <div class="btn-wrapper float-right">
        <button mat-raised-button color="accent" class="mr-2" [disabled]="item.done" (click)="doneItem(i)">Done</button>
        <button mat-raised-button color="warn" (click)="removeItem(i)">Remove</button>
      </div>
    </mat-card>
  </div>
</div>
<div *ngIf="!toDoData" class="loading-wrapper">
  <mat-spinner></mat-spinner>
</div>


