<div class="content">
  <div class="form-wrapper">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="createUser()">
      <mat-form-field class="w-100">
        <input formControlName="name" matInput placeholder="Name" required>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input formControlName="surname" matInput placeholder="Surname" required>
      </mat-form-field>
      <button mat-raised-button	color="primary" type="submit">Enter</button>
      <div class="loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
    </form>
  </div>
</div>
