.content {
  width: 100%;
  height: 100%;
  position: relative;
}
.form-wrapper {
  padding: 20px;
  width: 400px;
  height: 220px;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid #0275d8;
  border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading {
  float: right;
  .mat-spinner {
    width: 30px!important;
    height: 30px!important;
    ::ng-deep svg {
      width: 100%!important;
      height: 100%!important;
    }
  }
}
